body {
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
}

.main {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: fit-content;
    padding: 24px;
}

.outline {
    border: solid 1px #897f7f;
    border-radius: 8px;
}

.card-header {
    padding: 0px;
    margin: 0px;
}